

sudo apt update
sudo apt install curl -y
curl --output anaconda.sh https://repo.anaconda.com/archive/Anaconda3-2024.06-1-Linux-x86_64.sh

sha256sum anaconda.sh

bash anaconda.sh

sudo nano ~/.bashrc

export PATH=~/anaconda3/bin:~/anaconda3/condabin:$PATH

source ~/.bashrc

nvcc -V

cat /usr/local/cuda/include/cudnn.h | grep CUDNN_MAJOR -A 2

cat /usr/local/cuda/include/cudnn_version.h | grep CUDNN_MAJOR -A 2

conda create -n torch python==3.8 -y

wget https://developer.download.nvidia.com/compute/cuda/11.6.0/local_installers/cuda_11.6.0_510.39.01_linux.run

sudo sh cuda_11.6.0_510.39.01_linux.run

sudo nano ~/.bashrc

source ~/.bashrc

export export PATH=/usr/local/cuda-11.6/bin${PATH:+:${PATH}}
export LD_LIBRARY_PATH=/usr/local/cuda-11.6/lib64${LD_LIBRARY_PATH:+:${LD_LIBRARY_PATH}}

conda install pytorch==1.13.0 torchvision==0.14.0 torchaudio==0.13.0 pytorch-cuda=11.6 -c pytorch -c nvidia

pip install timm
pip install wandb
pip install tqdm
pip install natsort
pip install torchviz
pip install scikit-learn
pip install 
pip install lightning
pip install segmentation-models-pytorch
pip install polygenerator


